#side-bar{
    
    >a{
        color: white;
        padding: 16px 0px;
        display: block;
        .directory-icon{
            text-align: center;
            img{
                height: 34px;
                width: 34px;
            }
        }
        .directory-label{
            text-align: center;
            
            font-size:12px;
            font-weight: bold;
        }
        &:hover{
            text-decoration: none;
            color: #15c8ff;
            background-color: #0e5da5;
        }
     
    }
}