.active {
    display: none;
}

.home {
    width: 100%;
    align-items: stretch;
}
@media only screen and (max-width:600px){
    .menu-on-left{
        display:none !important; 
    }
}
.menu-on-left {
    width: 210px;
    height: 100%;
    background-color: #031847;
    z-index: 1;
    position: fixed;

    .brand-widget {
        height: 50px;

        img {
            width: 35px;
            height: 35px;
            margin-right: 13px;
        }

        .brand-title{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }
    }

    img {
        margin-top: 12px;
        margin-left: 12px;
        margin-bottom: 12px;
        height: 48px;
        width: 50px;
        margin-left: 14px;
    }


    ul {
        padding-left: 0px;

        li {
            text-align: center;
            margin: 0;
            height: 50px;
            list-style: none;

            a {
                text-align: start;
                color: white;
                font-size: 14px;
                text-decoration: none;
                height: 50px;
                margin: auto;
                list-style: none;
            }

            &:hover {
                background-color: #1088c0;
                color: rgb(8, 72, 102);
            }

            color: white;
        }
    }
}

.router-link {
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px;

    &:hover {
        background-color: #1088c0;
        color: white;
    }
}

.router-link-active {
    background-color: #1088c0;
    color: white;
}
