#top-bar {
    height: 72px;
    background-color: rgb(8, 72, 102);
    // padding: 12px 12px;
    #left-top-bar {
        float: left;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /**/
        img {
            height: 48px;
            width: 50px;
            margin-left: 14px;
        }

        @media only screen and (max-width:400px) {
            money-now {
                display: none;
            }
        }

        > span {
            font-weight: bold;
            margin-left: 36px;
            color: white;
            min-width: 200px;

            @media only screen and (max-width: 1221px) {
                #hiddenText {
                    display: none;
                }
            }

            #money-total {
                color: #009e0f;
            }
        }
    }

    #mid-top-bar {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        > a {
            display: block;
            color: white;

            &:hover {
                text-decoration: none;
                color: #15c8ff;
            }

            #add-icon {
                text-align: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            #add-label {
                font-size: 12px;
                text-align: center;
                line-height: 20px;
                font-weight: bold;
            }
        }
    }

    #right-top-bar {
        float: right;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;


        #user {
            margin-right: 14px;
            position: relative;

            > a {
                color: white;

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    width: 322px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    right: -14px;

                    #user-avatar {
                        text-align: center;

                        img {
                            width: 100px;
                            height: 100px;
                        }
                    }

                    #user-name {
                        text-align: center;
                        font-weight: bold;
                    }

                    #user-email {
                        text-align: center;
                    }

                    a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            background-color: #f1f1f1;
                        }
                    }
                }


                &:hover .dropdown-content {
                    display: block;
                    text-decoration: none;
                    color: #0078d4;
                }

                #user-icon {
                    text-align: center;

                    img {
                        margin-right: 5px;
                        width: 34px;
                        height: 34px;
                    }
                }
                /*#user-name {
                    font-size: 16px;
                    text-align: center;
                    line-height: 20px;
                    font-weight: bold;
                }*/
            }
        }

        #bell {
            // position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            // display: inline-block;
            margin-right: 25px;

            img {
                width: 34px;
                height: 34px;
            }
        }
    }
}
